<!DOCTYPE html>
<html lang="en">
  <body>
    <div id="item-list" class="container">
      <%= render partial: 'items/item_list', locals: {items: @items} %>
    </div>
  </body>
</html>
<div id="modal" class="modal fade">
</div>