<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title"><%= item.new_record? ? 'Add New To-Do Item' : "Edit Item #{item.title}"%></div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <%= simple_form_for item, defaults: { wrapper_html: {class: 'form-group'} }, class: 'clearfix', remote: true do |form|%>
    <%= form.input :title,
                   input_html: {class: 'form-control'}%>
    <%= form.input :description,
                   input_html: {class: 'form-control'}%>
    <%= form.input :due_date, label: 'Due Date',
                   label_html: {class: 'date-label'}%>
    <div class="modal-footer">
      <%= form.submit 'Add', class: 'btn btn-success'%>
    </div>
    <% end %>
  </div>
</div>

