<% if items.empty? %>
  <span class="text-warning">There are no To-Do items! Create one by using the button above</span>
<% else %>
  <table class="table table-hover table-responsive table-bordered">
    <thead><h3>To-Do Items</h3>
    <tr>
      <th>Complete</th>
      <th>Item</th>
      <th>Description</th>
      <th>Due Date</th>
      <th>Completed</th>
      <th>Completed On</th>
      <th>Created At</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <% items.each do |item| -%>
      <tr>
        <td><%= link_to complete_item_path(item), remote: true, method: :post do %>
            <i class="glyphicon glyphicon-check"></i></td>
          <% end %>
        <td><strong><%= item.title %></strong></td>
        <td><%= item.description %></td>
        <% if item.completed %>
          <td class="text-success"><%= item.due_date %></td>
        <% elsif item.due_date && Date.today >= item.due_date %>
          <td class="text-danger"><b><%= item.due_date %></b></td>
        <% else %>
          <td><%= item.due_date %></td>
        <% end %>
        <td><%= item.completed %></td>
        <% if item.completed_on %>
          <td><%= item.completed_on.to_date.to_s %></td>
        <% else %>
          <td> -- </td>
        <% end %>
          <td><%= item.created_at.to_date.to_s %></td>
        <td><%= link_to edit_item_path(item), remote: true do %>
            <i class="glyphicon glyphicon-edit"></i></td>
          <% end %>
        <td><%= link_to item_path(item), remote: true, method: :delete, data: {confirm: "Delete To-Do item #{item.title}?"} do%>
            <i class="glyphicon glyphicon-remove"></i></td>
            <% end -%>
      </tr>
    <% end -%>
    </tbody>
  </table>
<% end -%>