/*
Author: Pranjali Pokharel
Code to show the To Do items list after the creation form has been submitted
Redirect to show all To Do items via javascript rather than normal redirect_to method
*/
$('#item-list').html('<%= j(render partial: 'items/item_list', locals: {items: @items}) %>');
$('#modal').modal('hide');