/*
Author: Pranjali Pokharel
Code to show the refreshed To Do items list after an item has been deleted or marked as completed
Redirect to show all remaining To Do items via javascript rather than normal redirect_to method
*/
$('#item-list').html('<%= j(render partial: 'items/item_list', locals: {items: @items}) %>');