// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.date-label {
  width: 100%;
}

.modal-content {
  width: 300px;
  left: 50%;
  margin-left: -150px;
}

.modal-title {
  display: inline-block;
}

.close {
  float:right;
}

.modal-footer {
  padding-bottom: 0 !important;
}

#item-list {
  overflow-x: scroll;
}