// Place all the styles related to the pages controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.modal form{
  margin-bottom:  0;
}

span.error {
  color: darkred;
  margin-left: 5%;
}