<!DOCTYPE html>
<html>
  <head>
    <title>To Do</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="jumbotron">
      <div class="text-center">
        <h1>To-Do</h1>
        <p>Welcome to the To Do application! </p>
        <%= link_to 'Add To-Do Item', new_item_path, class:"btn btn-primary btn-lg", remote: true %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
